WEBSERVER_HOST=127.0.0.1
WEBSERVER_PORT=80
WEBSERVER_SECURE_PORT=443
WEBSERVER_SECURE_ENABLED=false
WEBSERVER_SSL_CERT_FILE=./ssl/cert.pem
WEBSERVER_SSL_KEY_FILE=./ssl/key.pem
WEBSERVER_SECRET_KEY = advcms-a123tyu567-secret-key-change-in-production!
WEBSERVER_DEBUG=true
WEBSERVER_RELOAD=true
WEBSERVER_DB_URL=sqlite:///advcms/db_sqlite/advcms_db.sqlite3
###WEBSERVER_DB_URL=postgresql://user:password@localhost:5432/advcmsdb

AGENT_APP_NAME=ad_agent_app
AGENT_USER_ID=ad_agent_user
AGENT_SESSION_ID=123454321
AGENT_MODEL_FULL_NAME=gemini-flash-latest
#AGENT_MODEL_FULL_NAME=ollama_chat/gemma4

GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

CHROMA_PORT=8008
CHROMA_DATA_DIR=advcms/db_croma
CHROMA_TENANT=advcms_tenant_id
CHROMA_DATABASE=advcms_database
CHROMA_API_KEY=advcms_api_key
